* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: rgb(15, 15, 15);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(121, 84, 42, 0.705); 
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 50%;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0px 2px 1px #000000;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-shadow: 0px 1px 0.5px #000000;
}

.hero .cta-btn {
  padding: 10px 20px;
  background-color: rgba(121, 84, 42, 0.705);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.hero .cta-btn:hover {
  background-color: rgb(206, 131, 46)
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.7rem;
  }
  .hero p {
    font-size: 0.9rem;
  }
  .hero .cta-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .hero-content {
    padding: 30px;
  }
}


/* Responsif untuk Layar Kecil */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    font-size: 1.1rem;
  }

  .navbar {
    padding: 14px 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .logo {
    font-size: 1.1rem;
  }
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

/* about */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px; 
}

.container-about {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}

.container-about img {
    max-width: 100%; 
    height: auto;
    box-shadow: 0px 0px 25px 2px rgb(121, 84, 42);
    opacity: 90%;
    border-radius: 8px; 
}

.container-text {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    padding: 20px; 
    max-width: 600px; 
}

.container-text h2 {
    color: rgb(121, 84, 42);
    margin-bottom: 10px;
}

/* Media Query untuk Responsivitas */
@media (max-width: 768px) {
    .container-about {
        flex-direction: column;
    }

    .container-text {
        text-align: flex-start;
        padding: 10px;
        font-size: 0.9rem;
    }

    .container-about img {
        max-width: 80%; 
    }

    .container-about h2 {
        text-align: center;
    }
}

/* Menu Section */
.menu-section {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(121, 84, 42, 0.705);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .menu-description {
    font-size: 16px;
    margin-bottom: 40px;
    color: #111111;
  }

  /* Flexbox Layout */
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .menu-item {
    background-color: #111111;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .menu-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .menu-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #8d6134;
  }

  .menu-item p {
    font-size: 12px;
    color: #bbb;
    margin-bottom: 10px;
  }

  .menu-item span {
    font-weight: bold;
    font-size: 18px;
    color: #797979;
  }
  /* section order */
  .order {
    padding: 20px 50px;
    background-color: rgba(121, 84, 42, 0.705);
  }
  
  .order h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #cccccc;
  }
  
  .logo-container {
    display: flex;
    padding: 30px 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .logo-container a {
    text-decoration: none;
  }
  
  /* Logo Styling */
  .logo-order {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
    opacity: 70%;
  }
  
  .logo-order:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .logo-order {
        padding: 8px;
        width: 150px;
    }

    .menu-title {
        font-size: 1.5rem;
    }

    .menu-description {
        font-weight: bold;
    }
  }
/* Lokasi Section */
.lokasi {
  padding: 60px 20px;
}

.lokasi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

/* Lokasi Info */
.lokasi-info {
  flex: 1 1 45%;
  text-align: left;
  padding: 20px;
  background-color: #1d1d1d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 2, 0.3);
}

.lokasi-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: rgb(160, 110, 54);
}

.lokasi-deskripsi {
  margin-bottom: 10px;
  font-size: 1.0rem;
  color: #ffffff;
}

.lokasi-info ul {
  list-style-type: none;
  color: #aaaaaa;
  font-size: 0.9rem;
}

.lokasi-info li {
  margin: 8px 0;
}

/* Peta Interaktif */
.lokasi-map {
  flex: 1 1 45%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 85%;
}

iframe {
  display: block;
  width: 100%;
  height: 350px;
  border: none;
}

.container p {
    margin-bottom: 20px;
    color: #cccccc;
  }
  
  @media (max-width: 768px) {
    .lokasi-title {
        font-size: 1.5rem;
    }

    .lokasi-deskripsi {
        font-size: 0.9rem;
    }
  }

/* Section Form */
.form-section {
    padding: 40px 20px;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }
  
  .container h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: rgba(121, 84, 42, 0.705);
  }

  @media (max-width: 768px) {
    .container h2 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 0.9rem;
    }
  }
  /* Form Kontak */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  
  .form-left, 
  .form-right {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgba(121, 84, 42, 0.705);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(121, 84, 42, 0.705);
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(15, 15, 15);
  }
  
  textarea {
    resize: none;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(121, 84, 42, 0.705);
  }
  
  .form-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  button {
    background-color: rgba(121, 84, 42, 0.705);
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d4a53e;
  }
  
  /* Responsif */
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  
    .form-left, 
    .form-right {
      flex: 1 1 100%;
    }
  }

/* Footer Styling */
.footer {
  background-color: rgb(121, 84, 42); /* Warna kopi */
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.footer .container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Social Media Icons */
.footer-social {
  margin-bottom: 10px;
}

.footer-social a {
  margin: 0 15px;
  display: inline-block;
  font-size: 1.5rem; /* Ukuran ikon */
  color: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: black; /* Warna kopi terang saat hover */
  transform: scale(1.2); /* Efek zoom saat hover */
}

/* Copyright */
.footer-copyright p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: #ddd;
}

/* Responsif */
@media (max-width: 768px) {
  .footer-social a {
    font-size: 1.2rem; /* Ukuran ikon lebih kecil di layar kecil */
    margin: 0 10px;
  }

  .footer-copyright p {
    font-size: 0.8rem;
  }
}